.prf{
    margin-top: 5%;
    
    display: block;
    justify-content: space-between;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("https://images.pexels.com/photos/1684617/pexels-photo-1684617.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") ;
  
  }